:root {
    --theme: #fff;
    --entry: #cfcfff;
    --primary: rgba(0, 0, 0, 0.88);
    --secondary: rgba(0, 0, 0, 0.88);
    --tertiary: rgba(0, 0, 0, 0.88);
    --content: rgba(0, 0, 0, 0.88);
    --hljs-bg: #c0c2c9;
    --code-bg: #c0c2c9;
    --border: #eee;
}


.dark {
    --theme: rgb(41, 104, 116);
    --entry: #b9cad1;
    --primary: rgba(41, 104, 116);
    --secondary: rgba(41, 104, 116);
    --tertiary: rgba(41, 104, 116);
    --content: rgba(235, 235, 255, 0.96);
    --hljs-bg: #fefefe;
    --code-bg: #fcfbfb;
    --border: rgb(255, 255, 255);
} 

/* 41, 104, 116 */