{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

<!-- https://developers.google.com/fonts/docs/css2 -->

<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Pathway+Extreme">
    <style>
      body {
        font-family: 'Pathway Extreme', sans-serif;
        font-size: 20;
      }
    </style>
  </head>
</html>